table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: calc(100% - 12px);
    margin:10px;
    box-sizing: border-box;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}