<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/home" routerActiveLink="" class="nav-link" type="button" class="btn btn-secondary" >HOME</a>
    </li>
    <li class="nav-item">
      <a routerLink="/page1" routerActiveLink="" class="nav-link" type="button" class="btn btn-secondary" >USERS</a>
    </li>
    <li class="nav-item">
      <a routerLink="/page2" routerActiveLink="" class="nav-link" type="button" class="btn btn-secondary" >EDIT USER</a>
    </li>
  </ul>

</nav>